/*Tree*/
.tree {
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-left: 10px;
}

.channels {
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 4%;
}

.channelsTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}

img.add-channel-icon {
  height: 16px;
  width: 16px;
  /*padding-top: 2px;*/
  cursor: pointer;
}

.m-node.placeholder {
  border: 1px dashed #1385e5;
}
.m-node .inner {
  color: #000000;
  font-size: 12px;
  font-family: "AvenirNext-Regular";
  line-height: 26px;
}
.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}
.m-node .node.is-active {
  background-color: #e0e6f6;
}

.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-tree {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-draggable {
  position: absolute;
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-node.placeholder > * {
  visibility: hidden;
}
.m-node.placeholder {
  border: 1px dashed #ccc;
}
.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 10px;
}
.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.m-node .caret-right:before {
  content: "\25B8";
}
.m-node .caret-down:before {
  content: "\25BE";
}

/*Channels*/
