.userAvatarContainer {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: AvenirNext-Regular;
  flex-shrink: 0;
  border: double 1px transparent;
  background-image: linear-gradient(#f2f2f2, #f2f2f2),
    radial-gradient(circle at top left, #1d2671, #c33764);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
