.channels {
  position: relative;
}

.channels-container {
  max-height: 30vh;
  overflow-y: scroll;
  margin: 0px 36px;
}

.channels-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}
