.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
  width: 100%;
}

.icon {
  width: 18px;
  height: 18px;
}

.icon-title {
  font-family: "AvenirNext-Regular";
  font-size: "8px";
  color: "#4A4A4A";
}
