.password {
  -webkit-text-security: disc;
}

.input-container {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  line-height: 24px;
  padding: 6px 12px 6px 12px;
  /* border: 1px solid #e2d7e5; */
  color: white;
}

.login-button {
  width: 240px;
  line-height: 24px;
  border-radius: 15px;
  background: #33235f;
  color: white;
  outline: none;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: "AvenirNext-Regular";
}

.login-button:hover {
  background: rgb(42, 33, 63);
  cursor: pointer;
}

.sign-up {
  font-family: "AvenirNext-Regular";
  cursor: pointer;
  text-decoration: underline;
  padding-left: 4px;
}

.sign-up:hover {
  color: rgb(201, 184, 242);
}

.typed-title {
  font-family: "AndaleMono";
  font-size: 36px;
  margin-bottom: 48px;
  color: #ffffff;
}

.cursor {
  color: #ffffff;
}

.error-msg {
  font-family: "AvenirNext-Regular";
  display: flex;
  justify-content: center;
  color: rgb(167, 8, 8);
  font-weight: 600;
  font-size: 16px;
  width: 240px;
  text-align: center;
  vertical-align: middle;
}

.sign-up-container {
  color: white;
  display: flex;
  justify-content: center;
  width: 240px;
  font-family: "AvenirNext-Regular";
  font-weight: 600;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: white;
  font-weight: 500;
}
