.file-tree-container {
  background-color: #f2f2f2;
  flex-grow: 1;
  margin-left: 2px;
  position: relative;
  max-height: 60vh;
  overflow-y: overlay;
  z-index: 0;
}

.m-tree {
  padding-bottom: 30px;
}

.aside-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
  color: #000000;
  font-family: "AvenirNext-Bold";
  padding-top: 36px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  line-height: 28px;
  font-size: 18px;
}

img.header-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  line-height: 28px;
}

.node {
  display: flex;
}

.node:hover {
  background-color: #9ca1ac;
}

span {
  outline-style: none;
}

.thread-num-circle {
  border-radius: 50%;
  border: double 1px transparent;
  background-image: linear-gradient(#f2f2f2, #f2f2f2),
    radial-gradient(circle at top left, #1d2671, #c33764);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #49306b;
  height: 16px;
  width: 16px;
  text-align: center;
  font-size: 8px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 4px;
  flex-shrink: 0;
}

.m-node .inner {
  color: #0000;
  font-size: 12px;
  font-family: "AvenirNext-Regular";
  line-height: 26px;
}
.m-node .node {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px 5px;
  padding-right: 15px;
}
.m-node .node.is-active {
  background-color: #e0e6f6;
  outline: none;
}

.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-tree {
  position: relative;
  overflow: hidden;
  margin-left: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-draggable {
  position: absolute;
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-node.placeholder > * {
  visibility: hidden;
}
.m-node.placeholder {
  border: 1px dashed #ccc;
}

.m-node .inner {
  width: 100%;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.m-node .caret-right:before {
  content: "\276f";
  padding-left: 2px;
}
.m-node .caret-down:before {
  content: "\276f";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 2px;
}

.node-icon {
  height: 16px;
  width: 16px;
  margin-left: 2px;
}

.channels {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
}
