*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.root {
  height: 100vh;
  width: 100vw;
}

.Resizer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.2;
  z-index: 1000;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-app-region: no-drag;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  cursor: ew-resize;
}

.Resizer.vertical {
  width: 6px;
  margin: 0 -3px;
  cursor: col-resize;
}

.Resizer.vertical.disabled {
  cursor: default;
  display: none;
}

.Resizer.vertical.disabled:hover {
  border-left: none;
  border-right: none;
}

.vertical section {
  width: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
