.channel-list-item {
  font-family: AvenirNext-Medium;
  font-size: 14px;
  color: #000000;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c9cfdd;
  width: 100%;
}

.channel-list-item:hover {
  background: #9ca1ac;
  text-decoration: none;
  cursor: pointer;
}

.channel-list-item-last-post {
  margin-left: 40px;
  font-family: AvenirNext-Regular;
  font-size: 10px;
}

.channel-container {
  display: block;
  width: 100%;
  height: 100%;
}
